.card_instance{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px
}

// @media screen and (min-width: $break-large){
//   .card_instance{
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     grid-gap: 10px
//   }
// }
//
// @media screen and (min-width: $break-medium){
//   .card_instance{
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap: 5px
//   }
// }
//
// @media screen and (min-width : $break-small) {
//   .card_instance{
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     grid-gap: 5px
//   }
// }
